<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Inicio</h1>
<p th:text="${mensaje}"></p>
<p th:text="${saludo}"></p>
<br/>

<div th:if="${personas != null and !personas.empty}">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.nombre}"></td>
            <td th:text="${persona.apellido}"></td>
            <td th:text="${persona.email}"></td>
            <td th:text="${persona.telefono}"></td>
        </tr>
    </table>
</div>
<div th:if="${personas == null or personas.empty}">
    la lista de personas esta vacia
</div>
<br/>

</body>
</html>